/* CSS Document */
body{
background-color: #FFF !important;
color: #777;
font-family: "Open Sans", Arial, sans-serif !important;
font-size: 14px;
line-height: 22px;
margin: 0;
}
header{
clear: both;
border-top: 5px solid #EDEDED;
background: #f6f6f6;
background: -moz-linear-gradient(top, #f6f6f6 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top, #f6f6f6 0%,#ffffff 100%);
background: -o-linear-gradient(top, #f6f6f6 0%,#ffffff 100%);
background: -ms-linear-gradient(top, #f6f6f6 0%,#ffffff 100%);
background: linear-gradient(to bottom, #f6f6f6 0%,#ffffff 100%);
}

.page-top{
	background-color: #171717;
border-bottom: 5px solid #CCC;
border-top: 5px solid #384045;
margin-bottom: 35px;
min-height: 50px;
padding: 0;
padding: 20px;
position: relative;
text-align: left;
}

.custom-product{
	background-color: #0077b3;
	border-top-color: #0088cc;
}

element.style {
}
section.page-top.custom-product p.lead {
color: #CCC;
}
.lead {
margin-bottom: 20px;
font-size: 21px;
font-weight: 200;
line-height: 30px;
}


strong {
font-weight: bold;
}
h2 {
font-size: 2.8em;
font-weight: 300;
line-height: 54px;
margin: 0 0 32px 0;
}


h3 {
color: #CCC;
font-size: 1.8em;
font-weight: 400;
letter-spacing: normal;
line-height: 24px;
margin-bottom: 33px;
text-transform: uppercase;
}
h3, h4, h5 {
color: #0088cc;
}


h1 {
    font-size: 3.2em;
    line-height: 44px;
    margin: 0 0 44px 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #121214;
    font-weight: 200;
    letter-spacing: -1px;
    margin: 0;
}

section.page-top.custom-product h1 {
    color: #FFF;
    margin-bottom: 10px;
    margin-top: 30px;
}

h2 {
    font-size: 2.8em;
    font-weight: 300;
    line-height: 54px;
    margin: 0 0 32px 0;
    padding:0
}

div.feature-box-icon {
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    background: #CCC;
    border-radius: 35px;
    color: #FFF;
    display: inline-block;
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    top: 5px;
    width: 35px;
}
div.feature-box div.feature-box-info {
    padding-left: 50px;
}


footer {
    background: #33495E;
    /*border-top: 4px solid #03357A;*/
    font-size: 0.9em !important;
    /*margin-top: 70px;*/
    padding: 60px 0 0;
    position: relative;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer h4 {
    border-bottom: 1px dashed #d3d3d3; margin-bottom: 5px;
    border-bottom: 2px solid #e18d00; padding-bottom: 4px;
    margin-bottom: 10px;
}

div.footer-copyright {
    background: #2B3E50;
    /*border-top: 4px solid #03357A;*/
    font-size: 0.9em !important;
    margin-top: 40px;
    padding: 30px 0 10px;
}

div.footer-copyright .sub-nav ul li {
    border-left: 1px solid #505050;
    display: inline-block;
    /*line-height: 12px;*/
    margin: 0;
    padding: 0 8px;
}

footer h4 {
    font-size: 1.8em;
    font-weight: 200;
    text-shadow: 1px 1px 1px #000;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer a {
    color: #FFF !important;
}

h3, h4, h5 {
    color: #0088cc;
}

div.feature-box-icon {
    background-color: #0088cc !important;
}
ul.simple-post-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.featured-box{
background: linear-gradient(to bottom, #FFFfff 1%,#f9f9f9 98%);
border-bottom: 1px solid #DFDFDF;
border-left: 1px solid #ECECEC;
border-radius: 8px;
border-right: 1px solid #ECECEC;
box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFfff', endColorstr='#f9f9f9',GradientType=0 );
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
min-height: 100px;
position: relative;
text-align: center;
z-index: 1;
}



div.featured-box div.box-content {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border-top: 3px solid #33B8FF;
    border-top-width: 4px;
    padding: 20px 20px 10px 20px;
}


div.featured-box-quaternary div.box-content {
    border-top-color: #734BA9;
}

ul.flickr-feed {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

ul.flickr-feed li {
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 0;
}
li {
    line-height: 24px;
}

div.featured-box-quaternary h4 {
    color: #734BA9;
}
div.featured-box h4 {
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: -0.7px;
    margin-top: 5px;
    text-transform: uppercase;
}

.btn:hover, .btn:focus {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.btn:first-child {
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
}

/***********************************************
sidebar
************************************************/
.sideBar{
    width:23%;
    margin-left:2%;
    float:left;
    margin-right:0;
    padding-right:0;
}
.sideHeading,.sideContent{
    padding:0 20px;
    background-color:#f0eee9;margin:0
}


.sideHeading{
    background-color:#000;
    color:#fff;
    padding:20px;
    margin-top:8%;
}

.firstTop{
    margin-top: 5px !important;
}

.sideHeading h4{
    color:#A3A3A3;
}
.sideContent{
    padding-top: 20px;
    padding-bottom: 40px;
}
#page_title{
    margin-bottom: 30px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.portlet .box .green {
    border: 1px solid #77e588;
    border-top: 0;
}
.portlet .box {
    padding: 0px !important;
}
.portlet-body .green, .portlet .green {
    background-color: #35aa47 !important;
}
.portlet {
    clear: both;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
}

.portlet-title h4 {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.even {
    background-color: #F9F9F9 !important;
}

.color_gold{
    color:#D4AF03 !important;
}

.pghead h2{
margin-bottom: 20px;
margin-left: 0 !important;
    padding-left:0 !important;
}
















